
/************************************************
    UTILITIES
************************************************/
.logo1 {
    width: 30vw;
}

/* .my_background {
    background-image: url(../img/sfondo.jpg);
    background-size: 100% 100%;

    opacity: 0.8;
} */

/* .my_data {
    opacity: 1;
} */